
//
//    WARNING! File created programmatically.
//    All changes made in this file will be lost!
//
// Palette variables for darkstyle
$color-normal: #DFE1E2;
$color-pressed: #DFE1E2;
$color-lineedit: #DFE1E2;
$color-label: #DFE1E2;
$scrollbar-handle: #54687A;
$color-disabled: #788D9C;
$color-hover: #54687A;
$bgnd-lineedit: #293544;
$slider-handle: #9DA9B5;
$bgnd-slider: #293544;
$dro-color: #54687A;
$bgnd-dro: #19232D;
$progress-chunk: #346792;
$bgnd-progress: #293544;
$bgnd-normal: #293544;
$bgnd-pressed: #54687A;
// Extras
$rc_images :  'qtdragon/images';
$rc_folder :  'qtdragon/dark_rc';
$opacity-tooltip :  230;
$axis-color-x :  #00FF00;
$axis-color-y :  #FF0000;
$axis-color-z :  #0000FF;
$axis-color-a :  #FF00FF;
$border-line :  1px solid black;
$border-radius :  4px;
$border-hover :  1px solid #057DCE;
$border-lineedit :  1px solid #00FF00;
$border-lineedit-focus :  1px solid #F5FAFF;
$border-statuslabel :  1px solid #00FF00;
$border-groupbox :  1px solid #788D9C;
$border-dro :  2px solid #293544;
$bgnd-hover :  #54687A;
$bgnd-scrollbar :  #293544;
$bgnd-groupbox :  transparent;
$bgnd-main-window : #19232D;
$scrollbar-height :  30px;
$scrollbar-width :  30px;
$dro-font :  20pt 'Lato Heavy';
$font-stack :  10pt 'Lato Heavy';