/** LineEdits **/

QLineEdit {
    background: $bgnd-lineedit;
    border: $border-lineedit;
    border-radius: $border-radius;
    font: $font-stack;
    color: $color-lineedit;
}

QLineEdit:focus {
    border: $border-lineedit-focus;
}
