/** PushButtons **/

QToolButton,
QPushButton {
    background: $bgnd-normal;
    border-top: $border-top;
    border-left: $border-left;
    border-right: $border-right;
    border-bottom: $border-bottom;
    border-radius: $border-radius;
    font: $font-stack;
    color: $color_normal;
}

QPushButton:disabled,
QPushButton:checked:disabled {
    color: $color-disabled;
}

QPushButton:pressed,
QPushButton:checked {
    background: $bgnd-pressed;
    border-top: $border-bottom;
    border-left: $border-right;
    border-right: $border-left;
    border-bottom: $border-top;
    color: $color_pressed;
}

QPushButton:hover,
QToolButton:hover {
/*    color: $color-hover;*/
    border: $border-hover;
}
