/** Listviews **/

QListView,
QTreeView {
    background: $bgnd-normal;
    selection-background-color: transparent;
    qproperty-alternatingRowColors: false;
    font: $font-stack;
    color: $color-normal;
}

QListView::item:hover,
QTreeView::item:hover {
    border: $color-hover;
}

QTreeView::item:pressed {
    background: $bgnd-selected;
    color: $color-selected;
}

QTreeView::item:selected:active,
QListView::item:selected:active {
    background: $bgnd-selected;
    color: $color-selected;
}

