/** Tab Widgets **/

QTabWidget {
    border: none;
}

QTabWidget::pane {
    background: transparent;
    border: none;
    top: -1px;
}

QTabBar::tab {
    background: $bgnd-normal;
    border-radius: $border-radius;
    min-height: 40px;
    min-width: 80px;
    font: $font-stack;
    color: $color-normal;
}

QTabBar::tab:selected {
    background: $bgnd-selected;
    color: $color-selected;
}
