
//
//    WARNING! File created programmatically.
//    All changes made in this file will be lost!
//
// Palette variables for metal
$color-normal: #000000;
$color-pressed: #0000FF;
$color-lineedit: #000000;
$color-label: #19232D;
$color-disabled: #54687A;
$color-hover: #057DCE;
$color-selected: #0000FF;
$scrollbar-handle: #346792;
$bgnd-selected: #37AEFE;
$bgnd-slider: #9DA9B5;
$dro-color: #000000;
$progress-chunk: #5e5c64;
$slider-subpage: #5e5c64;
$slider-handle: #ACB1B6;
// Extras
$rc_folder : 'qtdragon/images';
$border-line : 2px solid #000000;
$border-pressed : 2px solid#0000FF;
$border-radius : 4px;
$border-hover : 2px solid #73C7FF;
$border-lineedit : 2px solid #000000;
$border-lineedit-focus : 1px solid#73C7FF;
$border-label : 2px solid #000000;
$border-groupbox : 2px solid#19232D;
$border-slider : 1px solid #000000;
$bgnd-groupbox : transparent;
$bgnd-dro : transparent;
$bgnd-lineedit : transparent;
$bgnd-combo : transparent;
$bgnd-progress : transparent;
$font-stack : 10pt 'Lato Heavy';
$font-dro : 20pt 'Lato Heavy';