/** Groupboxes **/

QGroupBox {
    background: $bgnd-groupbox;
    border: $border-groupbox;
    border-radius: $border-radius;
    margin-top: 1ex;
    font: $font-stack;
}

QGroupBox::Title {
    subcontrol-origin: margin;
    subcontrol-position: top-center;
    padding: 0 4px;
    color: $color-normal;
}

QGroupBox::indicator {
    width: 20px;
    height: 20px;
}

QGroupBox::indicator:unchecked {
    image: url($rc_folder + '/unchecked.png');
}

QGroupBox::indicator:checked {
    image: url($rc_folder + '/checked.png');
}
